#brand {
  font-family: "Sevillana";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.obraImg {
  width: 178px;
  height: 143px;
  align-self: center;
}

.obraCard {
  height: 260px;
  padding-bottom: 10px;
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.titleSection {
  height: 67px;
  align-self: center;
  text-align: center;
  background: #c4c4c4;
  vertical-align: middle;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
}

.museumCard {
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.museumTitle {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;

  color: #000000;
}

.museumCity {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}
